__pycache__/
.vscode/
.claude/
calibration/
dataset/
runs/
yolov11/
temfile/
classification/dataset_process/
temp/
comparison_results/
sim/isaacSimKoch/
IsaacLabs/
tmp/
sim/camera_simple_opt_output/
sim/koch_img/
recordings/
logs/

*.txt
.env
.venv/
push_dataset_ms.py
cmd

!docs/*

config.yaml
object_detect/data.yaml

*.jpg
*.mp3
*.mp4
*.wav
*.zip

outputs/
wheels/
lerobot

# 本机专用（提交 GitHub 时排除）
arm/hand-eye-data/
piper-standard/
